.container {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--Poppinsfont);
    box-sizing: border-box;
}

.procedureItem {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    
}

.procedureHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    font-family: var(--Poppinsfont);
    border-radius: 5%;
    background-color: #fff;
    height: auto;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    color: black;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.closeButton {
    outline: none;
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
