/* Menu.module.css */
.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    z-index: 20;
    background-color: #ffff;
    position: absolute; /* Ensure it appears over other content */
    height: 100vh;
    overflow: hidden;
    width: 90%;
}

.menu li {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    font-family: var(--Interfont);
}
