
.buttons{
    background: var(--gradient);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: var(--Interfont);
    border-radius: 20px;
}