.container{
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5rem;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
input{
    width: var(--inputWidth);
    height: var(--inputHeight);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    border-color: #6383FF;
    box-shadow: 0px 4px 4px #6383FF;
    font-size: 1rem;
    font-family: var(--Ralewayfont);
    outline: none;
}